:root {
  --root-color: #263238;
  --background-color: #37474F;
  --main-text-color: #ECEFF1;
  --button-color: #90A4AE;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  color: var(--main-text-color);
}

#sidebar {
  width: 15vw;
  min-width: 15vw;
  max-width: 15vw;
  background-color: var(--background-color);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#stockChart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#model-container {
  display: flex;
  flex-direction: column;
}

#models, #stockSymbol, input[type="text"], input[type="number"], button {
  padding: 5px 12px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-radius: 5px;
}

button {
  background-color: var(--button-color);
  cursor: pointer;
}

button:hover:enabled {
  box-shadow: 5px 10px 18px black;
}

button:disabled, button[disabled]{
  background-color: #cccccc;
}

#models {
  cursor: pointer;
}

hr {
  color: #455A64;
  margin: 20px 0;
}

#trainModel {
  display: none;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--root-color);
}

#parameters {
  width: 50%;
  padding: 20px;
}

#trainCharts {
  background-color: var(--root-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

#lossChart, #maeChart {
  width: 100%;
  height: 50%;
}

#progressContainer, #progressBar {
  width: 100%;
  height: 20px;
  border-radius: 15px;
  color: var(--background-color)
}

#progressContainer {
  display: none;
  background-color: var(--main-text-color);
}

#progressBar {
  border-radius: 15px;
  background-color: var(--button-color);
}

#progressText {
  margin: 0 15px;
  color: black;
}

#saveModelTable {
  display: none;
}

#predictButton {
  display: none;
  background-color: var(--button-color);
  cursor: pointer;
}